DJANGO_SECRET_KEY=cambia-questa-chiave-in-produzione
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=tecnopoint-backend.onrender.com
CORS_ALLOWED_ORIGINS=https://tecnopoint.vercel.app
DATABASE_URL=postgres://user:password@host:5432/dbname
CLOUDINARY_CLOUD_NAME=il-tuo-cloud-name
CLOUDINARY_API_KEY=la-tua-api-key
CLOUDINARY_API_SECRET=il-tuo-api-secret
